includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  # Bridges
  - libs/bridge/http-bridge/phpstan.neon
  - libs/bridge/laravel-http-bridge/phpstan.neon
  - libs/bridge/laravel-provider/phpstan.neon
  - libs/bridge/psr-http-bridge/phpstan.neon
  - libs/bridge/spiral-bridge/phpstan.neon
  - libs/bridge/symfony-bundle/phpstan.neon
  - libs/bridge/symfony-http-bridge/phpstan.neon
  # Components
  - libs/component/compiler/phpstan.neon
  - libs/component/cpu-info/phpstan.neon
  - libs/component/globals-provider/phpstan.neon
  - libs/component/http/phpstan.neon
  - libs/component/http-body-decoder/phpstan.neon
  - libs/component/http-static-provider/phpstan.neon
  - libs/component/os-info/phpstan.neon
  - libs/component/pasm/phpstan.neon
  - libs/component/runtime/phpstan.neon
  - libs/component/saucer/phpstan.neon
  - libs/component/uri/phpstan.neon
  - libs/component/uri-factory/phpstan.neon
  - libs/component/weak-types/phpstan.neon
  # Contracts
  - libs/contracts/event-listener-contracts/phpstan.neon
  - libs/contracts/http-contracts/phpstan.neon
  - libs/contracts/id-contracts/phpstan.neon
  - libs/contracts/os-info-contracts/phpstan.neon
  - libs/contracts/uri-contracts/phpstan.neon
  - libs/contracts/uri-factory-contracts/phpstan.neon
  - libs/contracts/value-object-contracts/phpstan.neon
  # Extensions
  - libs/extension/webview-ext-battery/phpstan.neon
  - libs/extension/webview-ext-network/phpstan.neon
  - libs/extension/webview-ext-web-components/phpstan.neon
parameters:
  level: max
  strictRules:
    allRules: true
  fileExtensions:
    - php
  tmpDir: vendor/.cache.phpstan
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: false
