parameters:
  level: max
  scanFiles:
    - resources/stubs/aliases.stub.php
    - resources/stubs/saucer.stub.php
    - resources/stubs/ffi.stub.php
  excludePaths:
    - src/Api/Console/Driver/Windows/Kernel32.php
    - src/Api/Alert/Driver/Windows/User32.php
    - src/Api/Alert/Driver/MacOS/LibObjectC.php
  strictRules:
    allRules: true
  fileExtensions:
    - php
  paths:
    - src
  tmpDir: vendor/.cache.phpstan
  ignoreErrors:
    # PHPStan does not support FFI
    - '#^Access to an undefined property FFI\\CData#'
    - '#does not accept FFI\\CData#'
